@media (min-width: 768px) {
.icons {
    width: 25%;
    }
}

@media (max-width: 767px) {
    .icons {
        width: 50%;
    }
}

a {
    text-decoration: none;
    color: black;
}

#signin {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.addIcon {
    width: 5em;
}

body {
    /*background-image: url("./img/gamesBG6.jpg");*/
}

.fa-2x1 {
    font-size: 10em;
}


